* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  user-select: none;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(215, 225, 221);
  /* background-color: #3A4E41; */
  /* background-image: url("https://colordrop.io/api/image/25371?width=1080&height=1080");
  background-size: cover; */
}

/* rgb(41, 139, 13)*/

.box {
  position: relative;
  height: 550px;
  width: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border: 1px solid rgb(41, 139, 13);
}

.h {
  text-align: center;
  color: #0c3b2e;
  margin-top: 5px;
}

.inpbox {
  position: absolute;
  height: 10%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  /* border: 1px solid black; */
  border-bottom: 1px solid rgb(41, 139, 13);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: white;
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 15px;
}

.inp {
  height: 40px;
  width: 300px;
  outline: none;
  padding-left: 5px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid rgb(41, 139, 13);
  font-weight: 700;
  margin-bottom: 5px;
}

.addbtn {
  height: 40px;
  width: 50px;
  font-weight: 700;
  color: white;
  border: none;
  /* border: 1px solid rgb(255, 255, 255); */
  border-radius: 10px;
  background-color: #6d9773;
  margin-bottom: 5px;
  outline: none;
  cursor: pointer;
}

.tasks {
  position: absolute;
  top: 20%;
  height: 70%;
  width: 100%;
  display: block;
  justify-content: center;
  overflow-y: scroll;
}

.def {
  height: 10px;
  width: 400px;
}

.tasks::-webkit-scrollbar {
  display: none;
}

.taskp {
  height: auto; /*40px;*/
  width: 350px;
  position: relative;
  background-color: #d4d4d4;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: auto;
  border: 1px solid white;
  overflow-wrap: anywhere;
  /* cursor: pointer; */
}

.taskpp {
  padding: 8px 12px;
  color: #0c3b2e;
  font-weight: 700;
  border-radius: 10px;
  width: max-content;
  pointer-events: none;
  /* cursor: pointer; */
}

.taskpb {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.6s ease;
  line-height: 25px;
  text-align: center; 
  height: 25px;
  width: 25px;
  border-radius: 50%;

  /* border: 1px solid #c62323;
  background-color: #c62323;
  color: white; */

  border: 1px solid #d4d4d4;
  background-color: #d4d4d4;
  /* color: rgb(41, 139, 13); */
  color: rgb(255, 0, 0);
  font-weight: 800;

  font-size: large;
  font-family: cursive;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.taskp:hover .taskpb {
  visibility: visible;
  opacity: 1;
}

.msg {
  position: absolute;
  top: 90%;
  height: 10%;
  width: 100%;
  border-top: 1px solid rgb(41, 139, 13);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #6d9773;
  display: flex;
  align-items: center;
  justify-content: center;
}

.msgp {
  color: white;
  font-weight: 700;
}